;; Biff transaction. See https://biffweb.com/docs/reference/transactions/

[{:db/doc-type :user
  :xt/id #uuid "90b41082-be77-411b-8a51-a45d825d3f04",
  :user/email "u1@example.com",
  :user/last-nane "820Z3Wa7Ko",
  :user/first-name "8pxYAHWHL5Rtopt0572X4WU3u5J",
  :user/joined-at #inst "1969-12-31T23:59:00.317-00:00"
  :user/rooms [#uuid "1930a531-7572-4e67-8569-497228098563"]}

 {:db/doc-type :user
  :xt/id #uuid "c98e4330-6624-461e-8e45-008a91153a00"
  :user/email "u2@example.com",
  :user/last-nane "user 2 last name",
  :user/first-name "user 2 first name",
  :user/joined-at #inst "1969-12-31T23:59:00.317-00:00"
  :user/rooms [#uuid "1930a531-7572-4e67-8569-497228098563"]}

 {:db/doc-type :user
  :xt/id #uuid "f22df1fe-d02d-4a30-8d4a-db0efdf61f47"
  :user/email "u3@example.com",
  :user/last-nane "user3 first name",
  :user/first-name "user3 last name",
  :user/joined-at #inst "1969-12-31T23:59:00.317-00:00"
  :user/rooms [#uuid "1930a531-7572-4e67-8569-497228098563"]}

 {:db/doc-type :user
  :xt/id #uuid "3d1562ca-97ee-4efe-9536-60c294fd3f09"
  :user/email "u4@example.com",
  :user/last-nane "user 4 last name",
  :user/first-name "user 4 first name",
  :user/joined-at #inst "1969-12-31T23:59:00.317-00:00"}

 {:db/doc-type :room
  :xt/id #uuid "1930a531-7572-4e67-8569-497228098563"
  :room/title "room 1",
  :room/default-vote-type :natural
  :room/current-vote #uuid "8e1b9d37-7a63-42aa-a41e-af26f7df5802",
  :room/owner #uuid "90b41082-be77-411b-8a51-a45d825d3f04",
  :room/members [#uuid "90b41082-be77-411b-8a51-a45d825d3f04"
                 #uuid "c98e4330-6624-461e-8e45-008a91153a00"
                 #uuid "3d1562ca-97ee-4efe-9536-60c294fd3f09"
                 #uuid "f22df1fe-d02d-4a30-8d4a-db0efdf61f47"]}

 {:db/doc-type :vote
  :xt/id #uuid "b010e666-f5fc-48fd-afa6-6c09b4c4b4df"
  :vote/room #uuid "1930a531-7572-4e67-8569-497228098563"
  :vote/open false
  :vote/type :natural
  :vote/title "My super vote2"
  :vote/result [{:vote 4
                 :user #uuid "90b41082-be77-411b-8a51-a45d825d3f04"}
                {:vote 3
                 :user #uuid "c98e4330-6624-461e-8e45-008a91153a00"}
                {:vote 2
                 :user #uuid "3d1562ca-97ee-4efe-9536-60c294fd3f09"}
                {:vote 1
                 :user #uuid "f22df1fe-d02d-4a30-8d4a-db0efdf61f47"}]}

 {:db/doc-type :vote
  :xt/id #uuid "8e1b9d37-7a63-42aa-a41e-af26f7df5802"
  :vote/room #uuid "1930a531-7572-4e67-8569-497228098563"
  :vote/open false
  :vote/type :natural
  :vote/title "My super vote2"
  :vote/result [{:vote 4
                 :user #uuid "90b41082-be77-411b-8a51-a45d825d3f04"}
                {:vote 3
                 :user #uuid "c98e4330-6624-461e-8e45-008a91153a00"}
                {:vote 2
                 :user #uuid "3d1562ca-97ee-4efe-9536-60c294fd3f09"}
                {:vote 1
                 :user #uuid "f22df1fe-d02d-4a30-8d4a-db0efdf61f47"}]}]
